services:
  chat-vrm:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules  # Prevent overwriting host's node_modules
    working_dir: /app
    command: npm run dev
